CREATE TABLE "DNUCBBLU"."FIN_L202503" (
    EmployeeID   VARCHAR2(36)   NOT NULL ENABLE,
    FirstName    VARCHAR2(100)  NOT NULL,
    LastName     VARCHAR2(100)  NOT NULL,
    Email        VARCHAR2(150)  NULL,
    Department   VARCHAR2(100)  NULL,
    Position     VARCHAR2(100)  NULL,
    HireDate     DATE           NULL,
    IsActive     NUMBER(1)      DEFAULT 1 NOT NULL, 

    CreatedAt    TIMESTAMP WITH TIME ZONE  DEFAULT SYSTIMESTAMP NOT NULL, 

    CONSTRAINT pk_employee PRIMARY KEY (EmployeeID),
    CONSTRAINT uq_employee_email UNIQUE (Email)
);

CREATE INDEX idx_employee_id ON hrEmployee(EmployeeID); 
