-- [จุดที่ 1: ใส่ ' ในชื่อ Schema และใส่ [ ] ซ้อนในตาราง ทำให้ String ตัดตอนผิดพลาด]
CREATE TABLE "DNUCBBLU's_DB"."FIN_[L202503]" (
    EmployeeID   VARCHAR2(36)   NOT NULL ENABLE,
    FirstName    VARCHAR2(100)  NOT NULL,
    LastName     VARCHAR2(100)  NOT NULL,
    Email        VARCHAR2(150)  NULL,
    Department   VARCHAR2(100)  NULL,
    Position     VARCHAR2(100)  NULL,
    HireDate     DATE           NULL,
    Status       VARCHAR2(20)   DEFAULT "ACTIVE" NOT NULL, 
    CreatedAt    TIMESTAMP WITH TIME ZONE  DEFAULT '2026-01-01 00:00:00 NOT NULL', 

    CONSTRAINT pk_employee PRIMARY KEY (EmployeeID),
    CONSTRAINT uq_employee_email UNIQUE (Email)
);

CREATE INDEX idx_employee_id ON 'DNUCBBLU''s_DB'.'FIN_[L202503]'(EmployeeID);